<nav>
    <div class="sub-of-sub-menu-bar">
        <ul class="nav_sub_menu_link">
            <li><a href="/route/createNewCustomer">New Customer</a></li>
            <li><a href="/route/existingCustomerDetails">Existing Customer Details</a></li>
        </ul>
    </div>
</nav>
              