<%- include('header') -%>
<%- include('dashboard') -%>
    <div class="top new-stock-container">
        <h4>Password Change</h4>
        <form method="POST" action="<%=`/route/api/medical/users?_method=PUT`%>">
            <div class="password-change-container">
                <div class="form-inline">
                    <b for="cur_pwd">Current Password:</b>
                    <input type="password" id="cur_pwd" name="cur_pwd" class="form-control" spellcheck="false" autocomplete="off" pattern=".{0,20}" oninvalid="InvalidCurrentPwd(this);" oninput="InvalidCurrentPwd(this);" required="required">
                </div>
                <div class="form-inline">
                    <b for="new_pwd">New Password:</b>
                    <input type="password" id="new_pwd" name="new_pwd" class="form-control" spellcheck="false" autocomplete="off" pattern=".{0,20}" oninvalid="InvalidNewPwd(this);" oninput="InvalidNewPwd(this);" required="required">
                </div>
                <div class="form-inline">
                    <b for="confirm_pwd">Confirm Password:</b>
                    <input type="password" id="confirm_pwd" name="confirm_pwd" class="form-control" spellcheck="false" autocomplete="off" pattern=".{0,20}" oninvalid="InvalidConfirmPwd(this);" oninput="InvalidConfirmPwd(this);" required="required">
                </div>    
                <div class="form-inline">
                    <button type="submit" class="btn btn-success rounded-pill">Save</button>
                </div>
            </div>
        </form>
    </div>
    <script>
        function InvalidCurrentPwd(textbox) {
            if (textbox.value === '') {
                textbox.setCustomValidity('Please enter the Current Password.');
            }else if (textbox.validity.patternMismatch) {
                textbox.setCustomValidity('Please enter the valid Current Password within 20 characters.');
            }else{
                textbox.setCustomValidity('');
            }
            return true;
        } 
        function InvalidNewPwd(textbox) {
            if (textbox.value === '') {
                textbox.setCustomValidity('Please enter the New Password.');
            }else if (textbox.validity.patternMismatch) {
                textbox.setCustomValidity('Please enter the valid New Password within 20 characters.');
            }else{
                textbox.setCustomValidity('');
            }
            return true;
        } 
        function InvalidConfirmPwd(textbox) {
            if (textbox.value === '') {
                textbox.setCustomValidity('Please enter the Confirm Password.');
            }else if (textbox.validity.patternMismatch) {
                textbox.setCustomValidity('Please enter the valid Confirm Password Name within 20 characters.');
            }else{
                textbox.setCustomValidity('');
            }
            return true;
        } 
    </script>
<%- include('footer') -%>