<%- include('header') -%>
<%- include('dashboard') -%>
    <div class="top company-container">
        <h4>Company Details</h4>
        <form method="#" action="#">
            <div class="company-detail-container">
                <table class="table" id="companyDetailsTable">
                    <thead class="thead">
                        <tr>
                            <th>Manufacturer Name</th>
                            <th>Distributor Name</th>
                            <th>Distributor Address</th>
                            <th>Distributor Contact Name</th>
                            <th>Distributor Mobile Number</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="tbody">
                        <%- include('showCompanyDetails') -%>
                    </tbody>
                </table>                
                </div>
            </div>
        </form>
    </div>
    <script type="text/javascript" src="http://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">

      $("#companyDetailsTable").dataTable();  
  
    </script>
<%- include('footer') -%>