<nav>
    <div class="sub-menu-bar">
        <ul class="nav_menu_link">
            <li><a href="#">Add Customer</a>
                <%- include('add_customer_sub_menu') -%>
            </li>                
            <li><a href="/route/updateCustomer">Update Customer</a></li>
            <li><a href="/route/customerDetails">Customer Details</a></li>
        </ul>
    </div>
</nav>
              