<nav>
    <div class="sub-menu-bar">
        <ul class="nav_menu_link">
            <li><a href="/route/createNewUser">Add New</a></li>
            <li><a href="/route/updateUsers">Update User</a></li>
            <li><a href="/route/userDetails">User Details</a></li>
            <li><a href="/route/changePassword">Change Password</a></li>
        </ul>
    </div> 
</nav>
       