<nav>
    <div class="sub-menu-bar">
        <ul class="nav_menu_link">
            <li><a href="/route/createNewSale">Add New Sale</a></li>                
            <li><a href="/route/salesInvoiceDetails">Sales Details</a></li>
        </ul>
    </div>
</nav>
              